.usersTable {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  gap: 7px;
  align-items: start;
}

.usersTable__row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.usersTable__rowContent {
  display: contents;
  border: 1px solid #E7EAF3;
  border-radius: 5px;
  grid-column: span 5;
}

.usersTable__head {
  font-weight: bold;
}

.usersTable__cell {
  text-align: left;
}

.usersTable__actions {
  display: flex;
  justify-content: center;
  gap: 5px;
}